@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-aeonik: var(--font-aeonik);
  --font-mono: var(--font-geist-mono);
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide::-moz-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aeonik);
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 380px) {
  :root {
    --small-screen-padding: 0.5rem;
  }

  section {
    padding-left: var(--small-screen-padding);
    padding-right: var(--small-screen-padding);
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .w-full {
    width: 100% !important;
  }
}
